* {
    margin: 0;
    padding: 0;
}

.header {
    margin-top: 14px;
    margin-bottom: 21px;
}

.header__link {
    margin-top: 26px;
    margin-bottom: 48px;
}

.top__content {
    margin-top: 21px;
    margin-bottom: 53px;
}


.title {
    margin-top: 74px;
    margin-bottom: 17px;

}


.top__buttons {
    margin-top: 16px;

}

.top__logo {
    margin-top: 53px;
}